:root {
    --primary-color: #029191;
    --secondary-color: #52cfc5;
    --tertiary-color: #34a366;
    --background-color: #7357a0;
    --alt-color: #a4af0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-display: var(--secondary-color);
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);
    height: 100%;
}

header {
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--alt-color);
    line-height: 75px;
    border-bottom: 15px;
}

.page {
    display: flex;
    height: 25px;
}

.nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

.form {
    width: 100%;
    background-color: var(--alt-color);
    border: 4px solid var(--primary-color);
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    margin: 0;
}

.form input {
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 4px;
    border-radius: 10px;
    border: 4px solid var(--tertiary-color);
    width: 85%;
}

.form button {
    align-self: center;
    width: 80px;
    border-radius: 10px;
    padding: 4px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.current-weather {
    text-align: left;
    border: 4px solid var(--secondary-color);
    background-color: var(--alt-color);
    margin: 10px;
    border-radius: 10px;
}

.card-container {
    margin: 15px;
    padding: 8px;
}

.card {
    background-color: var(--tertiary-color);
    padding: 4px;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    width: 80%;
    height: 30%;
}